<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% if page_title %}{{ page_title }} - {% endif %}Captain Pasty</title>
	<link rel="stylesheet" href="/static/styles.css">
</head>
<body>

	<header class="header">
		<nav class="nav container">
			<div class="nav-left">
				<a class="nav-item is-brand captain-pasty{% if section == 'about' %} is-active{% endif %}" href="{% url 'about' %}">
					<img src="/static/pic/captain-pasty.jpg" alt="Captain Pasty logo">
					<span class="is-hidden-mobile">Captain Pasty</span>
				</a>
				<a class="nav-item{% if section == 'paste_create' %} is-active{% endif %}" href="{% url 'paste_create' %}">New paste</a>
				<a class="nav-item{% if section == 'paste_list' %} is-active{% endif %}" href="{% url 'paste_list' %}">Pastes</a>
				<form class="nav-item" action="{% url 'paste_search' %}">
					<input class="input" type="text" name="q" placeholder="Search">
					<button class="button" type="submit">Submit</button>
				</form>

				{% if is_current_user_admin %}
					<a class="nav-item" href="{% url 'admin' %}">Administration</a>
				{% endif %}

				{% if request.user_email %}
					<a class="nav-item" href="{{ logout_url }}">Sign out</a>
				{% else %}
					<a class="nav-item" href="{{ login_url }}">Sign in</a>
				{% endif %}
			</div>
		</nav>
	</header>

	<div class="section pasty-main">
		<main class="container content">
			<div class="columns">
				<div class="column">

				{% for m in messages %}
					<div class="notification is-{{ m.level_tag }}">
						<button class="delete"></button>
						{{ m.message }}
					</div>
				{% endfor %}

				{% block content %}{% endblock content %}
				</div>

				{% if starred_pastes %}
				<div class="column is-narrow stars">
					<h2 class="title">
						<span class="icon" aria-hidden="true">
							<i class="fa fa-star"></i>
						</span>
						Starred pastes
					</h2>

					<ul class="stars__list">
					{% for paste in starred_pastes %}
						<li class="stars__summary">
							<a href="{% url 'paste_detail' paste.key.id %}">{{ paste }}</a>
						</li>
					{% endfor %}
					</ul>
				</div>
				{% endif %}
			</div>
		</main>
	</div>

	{% if debug %}
		<script src="/static/src/jquery/dist/jquery.min.js"></script>
		<script src="/static/src/app.js"></script>
	{% else %}
		<script src="/static/app.min.js"></script>
	{% endif %}
</body>
</html>
