<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pastebin</title>
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% url 'highlight_styles' %}">
	<link rel="stylesheet" href="/static/styles.css">
</head>
<body>

	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#pasty-nav" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Captain Pasty</a>
			</div>

			<div class="navbar-collapse collapse" id="pasty-nav">
				<ul class="nav navbar-nav">
					<li class="{% if section == 'paste_create' %}active{% endif %}"><a class="" href="{% url 'paste_create' %}">New Paste</a></li>
					<li class="{% if section == 'paste_list' %}active{% endif %}"><a class="" href="{% url 'paste_list' %}">Pastes</a></li>
					<li class="{% if section == 'tag_list' %}active{% endif %}"><a class="" href="{% url 'tag_list' %}">Tags</a></li>
					<li class="{% if section == 'about' %}active{% endif %}"><a class="" href="{% url 'about' %}">About</a></li>
				</ul>
				<form class="navbar-form navbar-left" action="{% url 'paste_search' %}">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search" name="q">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
			</div>
		</div>
	</nav>

	<main class="container">
		{% block content %}{% endblock content %}
	</main>
	<script src="/static/jquery/jquery.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/app.js"></script>
</body>
</html>
