<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% if page_title %}{{ page_title }} - {% endif %}Captain Pasty</title>
	<link rel="stylesheet" href="{% url 'highlight_styles' %}">
	<link rel="stylesheet" href="/static/styles.css">
</head>
<body>

	<header class="header">
		<nav class="nav container">
			<div class="nav-left">
				<a class="nav-item is-brand" href="/">Captain Pasty</a>
				<a class="nav-item{% if section == 'paste_create' %} is-active{% endif %}" href="{% url 'paste_create' %}">New Paste</a>
				<a class="nav-item{% if section == 'paste_list' %} is-active{% endif %}" href="{% url 'paste_list' %}">Pastes</a>
				<form class="nav-item" action="{% url 'paste_search' %}">
					<input class="input" type="text" name="q" placeholder="Search">
					<button class="button" type="submit">Submit</button>
				</form>
				<a class="nav-item{% if section == 'about' %} is-active{% endif %}" href="{% url 'about' %}">About</a>
				{% if request.user_email %}
					<a class="nav-item" href="{{ logout_url }}">Sign Out</a>
				{% else %}
					<a class="nav-item" href="{{ login_url }}">Sign In</a>
				{% endif %}
			</div>
		</nav>
	</header>

	<div class="section">
		<main class="container content">
			<div class="columns">
				<div class="column">
				{% block content %}{% endblock content %}
				</div>

				{% if starred_pastes %}
				<div class="column is-narrow stars">
					<h2 class="title">
						<span class="icon" aria-hidden="true">
							<i class="fa fa-star"></i>
						</span>
						Starred Pastes
					</h2>

					<ul class="stars__list">
					{% for paste in starred_pastes %}
						<li class="stars__summary">
							<a href="{% url 'paste_detail' paste.pk %}">{{ paste }}</a>
						</li>
					{% endfor %}
					</ul>
				</div>
				{% endif %}
			</div>
		</main>
	</div>

	<script src="/static/src/jquery/jquery.min.js"></script>
	<script src="/static/app.js"></script>
</body>
</html>
