<div class="paste-summary-meta">
	<p class="paste-summary__created">
		Created {{ paste.created|since }} by
		{% if paste.author %}
			<a href="{% url 'paste_search' %}?author={{ paste.author }}">{{ paste.author }}</a>
		{% else %}
			anonymous
		{% endif %}

		– {{ paste.num_lines }} line{{ paste.num_lines|pluralize }} in {{ paste.num_files }} file{{ paste.num_files|pluralize }}

		{% if paste.forked_from %}
			– forked from <a href="{% url 'paste_detail' paste.forked_from.pk %}">{{ paste.forked_from }}</a>
		{% endif %}
	</p>
	<p class="paste-summary__description">
		{{ paste.description }}
	</p>
</div>
