{% extends '_base.html' %}

{% block content %}

<h1 class="title">New Paste</h1>

<form method="post">
	{% csrf_token %}

	<div class="control">
		{% render_label form.description class='label' %}
		{% render_input form.description class='input' placeholder='Description…' %}
	</div>

	<div class="control">
		{% render_label form.filename class='label' %}
		{% render_input form.filename class='input paste-form__filename' placeholder='Filename including extension…' %}
	</div>

	<div class="control">
		{% render_input form.content class='textarea paste-form__content' placeholder='Paste your content here…' %}
	</div>

	<div class="control">
		<button type="submit" class="button is-primary is-medium">Create</button>
	</div>

</form>

{% endblock content %}
