{% extends '_base.html' %}

{% block content %}

<h1 class="title">{{ paste.filename }}</h1>

<div class="paste-actions">
	<a class="button is-small" href="{% url 'paste_create' %}?fork={{ paste.key.id }}">
		<span class="icon is-small" aria-hidden="true">
			<i class="fa fa-code-fork"></i>
		</span>
		<span>Fork this paste</span>
	</a>

	<a class="button is-small" href="{% url 'paste_download' paste.key.id %}">
		<span class="icon is-small" aria-hidden="true">
			<i class="fa fa-download"></i>
		</span>
		<span>Download zip</span>
	</a>

	{% if starred %}
		<button type="button" class="button is-small star__action{% if starred %} is-disabled{% endif %}" data-paste-id="{{ paste.key.id }}" data-url="{% url 'api_star' %}" data-csrf-token="{{ csrf_token }}">
			<span class="icon is-small" aria-hidden="true">
				<i class="fa fa-star"></i>
			</span>
			<span class="star__status">Star{% if starred %}red{% endif %}</span>
		</button>
	{% else %}
		<button type="button" class="button is-small star__action" data-paste-id="{{ paste.key.id }}" data-url="{% url 'api_star' %}" data-csrf-token="{{ csrf_token }}">
			<span class="icon is-small" aria-hidden="true">
				<i class="fa fa-star-o"></i>
			</span>
			<span class="star__status">Star</span>
		</button>
	{% endif %}

	<span class="select is-small">
		<select class="highlight-style-switcher">
			<optgroup label="Highlight style">
			{% for name, value in highlight_styles %}
				<option value="{{ value }}"{% if name == 'default' %} selected{% endif %}>{{ name }}</option>
			{% endfor %}
			</optgroup>
		</select>
	</span>
</div>

<div class="paste">

	{% include '_paste_meta.html' %}

	<div class="paste__content">
		{% for file in paste.files %}
			<div class="paste__file">
				<h2 id="{{ file.filename|slugify }}" class="paste__file-name">{{ file.filename }}</h2>
				{{ file.content_highlight }}
			</div>
		{% endfor %}
	</div>
</div>

{% endblock content %}
