{% extends '_base.html' %}

{% block content %}

<h1>New Paste</h1>

<form method="post">
	{% csrf_token %}

	<div class="row">
		<div class="form-group form-group-sm">
			{% render_input form.description class='form-control' placeholder='Description…' %}
		</div>
	</div>

	<div class="row paste-form__file form-group-sm">
		{% render_input form.filename class='form-control paste-form__filename' placeholder='Filename including extension…' %}
		<br>
		{% render_input form.content class='form-control paste-form__content' %}
	</div>

	<div class="row">
		<button type="submit" class="btn btn-default">Create</button>
	</div>

</form>

{% endblock content %}
