{% extends 'pasty/_base.html' %}

{% block content %}

<h1 class="title">{{ paste.filename }}</h1>

<div class="paste-actions">
	<a class="button is-small" href="{% url 'paste_create' %}?fork={{ paste.key.id }}">
		<span class="icon is-small" aria-hidden="true">
			<i class="fa fa-code-fork"></i>
		</span>
		<span>Fork this paste</span>
	</a>

	<a class="button is-small" href="{% url 'paste_download' paste.key.id %}">
		<span class="icon is-small" aria-hidden="true">
			<i class="fa fa-download"></i>
		</span>
		<span>Download zip</span>
	</a>

	<button type="button" class="button is-small star__action" data-paste-id="{{ paste.key.id }}" data-url-create="{% url 'api_star_create' %}" data-url-delete="{% url 'api_star_delete' %}" data-csrf-token="{{ csrf_token }}">
		<span class="icon is-small" aria-hidden="true">
			<i class="fa fa-star{% if not starred %}-o{% endif %}"></i>
		</span>
		<span class="star__status">Star{% if starred %}red{% endif %}</span>
	</button>

</div>

<div class="paste">

	{% include 'pasty/_paste_meta.html' %}

	<div class="paste__content">
		{% for file in paste.files %}
			<div class="paste__file">
				<h2 id="{{ file.filename|slugify }}" class="paste__file-name">
					{{ file.filename }}

					<span class="paste__file-meta">
						{{ file.num_lines }} lines
						<a href="{% url 'paste_search' %}?content_type={{ file.content_type }}" title="More files like {{ file.content_type }}">{{ file.content_type }}</a>
					</span>
				</h2>


				<a class="button is-small paste__view-raw" href="{% url 'paste_raw' paste.key.id file.filename %}">Raw</a>
				{{ file.content_highlight }}
			</div>
		{% endfor %}
	</div>
</div>

{% endblock content %}
