{% extends 'pasty/_base.html' %}

{% block content %}

<div class="col-sm-8">
	<h1>
		Pastes

		{% if terms %}
			<span class="search-tags">
			{% for tag, label, param in terms %}
				<a class="search-tags__tag tag is-small" href="?{{ param }}">{{ label }}
					<span class="icon is-small" aria-hidden="true">
						<i class="fa fa-arrow-circle-right"></i>
					</span>
				</a>
			{% endfor %}
			</span>
		{% endif %}
	</h1>

{% for paste in pastes %}
	<div class="paste-summary">
		<h3><a href="{% url 'paste_detail' paste.key.id %}">{{ paste.filename }}</a></h3>
		{% include 'pasty/_paste_meta.html' %}

		<div class="paste__content{% if paste.num_lines > 10 %} fade-out-bottom{% endif %}">
			<a href="{% url 'paste_detail' paste.key.id %}">
				{{ paste.preview|safe }}
			</a>
		</div>
	</div>
{% empty %}
	<p>No pastes. <a href="{% url 'paste_create' %}">Why not add one?</a></p>

{% endfor %}
</div>

{% if pastes.has_next %}
	<nav>
		<a class="button" href="?{% params request.GET p=pastes.next_page_number %}">
			<span class="icon" aria-hidden="true">
				<i class="fa fa-arrow-circle-right"></i>
			</span>
			<span>Next</span>
		</a>
	</nav>
{% endif %}


{% endblock %}
