.container {
	position: relative;
}

.container h1 {
	margin: 0 0 10px 0;
	font-size: 30px;
}

.container h2 {
	font-size: 24px;
}

.changelog h2 {
	font-size: 16px;
}

.paste-summary {
	margin: 0 0 40px 0;
}

.paste-summary a {
	text-decoration: none;
}

.paste-summary__created {
	color: #666;
	font-size: 90%;
}

.paste__content pre {
	background-color: inherit;
	font-size: 11px;
}

.paste__content table.highlight {
	width: 100%;
}

.paste__content td.linenos {
	width: 50px;
}

.paste__content td.code {

}

.paste-summary a:hover pre {
	border-color: #000;
}

.paste-actions {
	position: absolute;
	right: 0;
	top: 0;
}
.linenodiv pre {
	border: 0;
	color: #aaa;
	text-align: right;
}

.filename__input {
	min-width: 300px;
}

/*	Customising for Bootstrap styles. */
.btn {
	border-radius: 16px;
	font-size: 12px;
	line-height: 16px;
}

.paste-form__file {
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 4px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 15px;
	padding: 3px;
}

.paste-form__filename {
	display: initial;
	flex-grow: 1;
	margin-right: 5px;
	width: 300px;
}

.paste-form__language {
	display: initial;
	flex-grow: 0;
	width: 200px;
}

.paste-form__content {
	margin-top: 5px;
	width: 100%;
}

.stars__list {
	margin-left: 0;
	padding-left: 18px;
}

.full-height {
	display: flex;
	flex-direction: column;
}

.full-height .paste-form__file {
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex: 1;
}
