@import "sass/utilities/initial-variables";

$fa-font-path: "fonts";
$body-background: #fff;
$body-size: 14px;

$link: $blue;
$link-visited: $link;
$link-hover: $link;

$weight-normal: 500;

@import "bulma";
@import "font-awesome";
@import "highlight-styles";


a:hover {
	text-decoration: underline;
}

.content {
	h1, h2, h3, h4, h5, h6 {
		font-weight: inherit;
	}
}


.captain-pasty {
	img {
		border-radius: 50%;
		max-height: 40px;
	}
	span {
		font-weight: bold;
		margin-left: 10px;
	}
}

.header {
	border-bottom: 1px solid #ccc;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2;
}

.nav {
	.control {
		margin-bottom: 0;
	}

	// Unset overflow rules for the advanced-search.
	.nav-left {
		overflow: visible;
	}
}

.search {
	position: relative;
}

.content a.search-tags__tag {
	background-color: white;
	border: 1px solid $link;
	color: $link;

	vertical-align: middle;

	// Really specific selector for the tag hover.
	&:hover {
		border-bottom-color: $link;
	}

	.icon {
		margin-left: 5px;
		margin-right: -6px;
	}
}

.pasty-main {
	padding-bottom: 10px;
	padding-top: 80px;
}

.fade-out-bottom {
	position: relative;

	&:after {
		background-image: linear-gradient(
			to bottom,
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 0.8)
			90%);
		bottom: 0;
		content: "";
		height: 4em;
		left: 0;
		pointer-events: none;
		position: absolute;
		width: 100%;
		z-index: 1;
	}
}

.stars {
	font-size: 12px;

	.stars__list {
		margin-left: 24px;
	}
}

.paste-summary {
	margin-bottom: 45px;

	.paste__content {
		border: 1px solid #eee;
		border-radius: 4px;
		padding: 10px;

		&:hover {
			border-color: $link;
		}

		a {
			text-decoration: none;
		}
	}
}

.paste-actions {
	margin-bottom: 20px;
}

.paste-form__content {
	max-height: unset;

	@media (min-width: $tablet) {
		height: 300px;
	}
}

.paste-form__add-file {
	cursor: pointer;
}


.paste__file {
	margin-top: 18px;
	border: 1px solid $border;
	border-radius: 4px;
	padding: 0 10px 10px 10px;
	position: relative;
}

h2.paste__file-name {
	// background-color: #f9f9f2;
	border-bottom: 1px solid $border;
	font-size: 18px;
	margin: 0 -10px 10px -10px;
	padding: 10px;
}

.paste__file-meta {
	float: right;
	font-size: 14px;
	margin-right: 50px;
	margin-top: 2px;
}

.paste__view-raw {
	position: absolute;
	top: 8px;
	right: 8px;
}

.highlight pre {
	max-width: 100vw;
	white-space: pre-wrap;
	background-color: unset;

	$side-list-width: 300px;

	@media (min-width: $tablet) {
		max-width: $tablet - $side-list-width;
	}

	@media (min-width: $desktop) {
		max-width: $desktop - $side-list-width;
	}

	@media (min-width: $widescreen) {
		max-width: $widescreen - $side-list-width;
	}

}

.drag-start {
	background-color: aliceblue;
}
