$fa-font-path: "fonts";
$body-background: #fff;

@import "bulma";
@import "font-awesome";
@import "highlight-styles";


.captain-pasty {
	img {
		border-radius: 50%;
		max-height: 40px;
	}
	span {
		font-weight: bold;
		margin-left: 10px;
	}
}

.header {
	border-bottom: 1px solid #ccc;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2;
}

.pasty-main {
	padding-bottom: 10px;
	padding-top: 80px;
}

.fade-out-bottom {
	position: relative;

	&:after {
		background-image: linear-gradient(
			to bottom,
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 0.8)
			90%);
		bottom: 0;
		content: "";
		height: 4em;
		left: 0;
		pointer-events: none;
		position: absolute;
		width: 100%;
		z-index: 1;
	}
}

.stars {
	font-size: 12px;

	.stars__list {
		margin-left: 24px;
	}
}

.paste-summary {
	margin-bottom: 35px;

	.code pre {
		border: 1px solid #eee;
		border-radius: 4px;
		padding: 10px;

		&:hover {
			border-color: $link;
		}
	}
}

.paste-actions {
	margin-bottom: 20px;
}

.paste-form__content {
	max-height: unset;
}

.paste-form__add-file {
	cursor: pointer;
}

@media (min-width: $tablet) {

	.paste-form__content {
		height: 300px;
	}
}

.paste__file {
	margin-top: 18px;
}

h2.paste__file-name {
	border-bottom: 1px solid $border;
	font-size: 18px;
}

.highlight pre {
	width: 100%;
	white-space: pre-wrap;
	background-color: unset;
	color: unset;
}
